body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #5ea9cf;
  margin: 0;
}

.auth-wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Futura", arial, sans-serif;
}

.auth {
  width: 370px;
  padding: 40px;
  background-color: white;
}

.auth-content-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.auth-input {
  font-size: 16px;
  margin-top: 20px;
  padding: 15px;
  height: 25px;
  width: 100%;
  border: 1px solid #dadce0;
}

.auth-button {
  width: 100%;
  margin-top: 20px;
  border: none;
  font-size: 20px;
  padding: 15px;
  color: white;
  background-color: #5ea9cf;
  cursor: pointer;
}

h1 {
  font-weight: normal;
  color: black;
  line-height: 50px;
  font-size: 47px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portal {
  display: flex;
  width: 900px;
  height: 70vh;
  background-color: white;
}

.sidebar {
  padding: 30px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.user {
  font-size: 16px;
}

.logo {
  font-family: "Futura", arial, sans-serif;
  font-size: 25px;
}

.jobs {
  flex: 3;
  overflow-y: scroll;
}

.jobPreview {
  padding: 20px;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  line-height: 20px;
}

.jobPreview ul {
  list-style-type: none;
  margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 15px;
}
