body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: #5ea9cf;
  margin: 0;
}

.auth-wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Futura", arial, sans-serif;
}

.auth {
  width: 370px;
  padding: 40px;
  background-color: white;
}

.auth-content-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
}

.auth-input {
  font-size: 16px;
  margin-top: 20px;
  padding: 15px;
  height: 25px;
  width: 100%;
  border: 1px solid #dadce0;
}

.auth-button {
  width: 100%;
  margin-top: 20px;
  border: none;
  font-size: 20px;
  padding: 15px;
  color: white;
  background-color: #5ea9cf;
  cursor: pointer;
}

h1 {
  font-weight: normal;
  margin: 0px;
  color: black;
  line-height: 50px;
  font-size: 43px;
  letter-spacing: 4px;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hire {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  width: 700px;
  background-color: white;
  padding: 30px;
}

.hireForm {
  display: flex;
  flex-wrap: wrap;
}

.hireTitle {
  width: 100%;
  font-family: "Futura", arial, sans-serif;
  font-size: 35px;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 15px;
}

.hireInputWrap {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.hireInputLabel {
  flex: 1;
  margin-top: 5px;
  margin-left: 10px;
}

.submitButton {
  margin: 10px;
  flex: 1;
  border: none;
  font-size: 20px;
  padding: 15px;
  color: white;
  background-color: #5ea9cf;
  cursor: pointer;
}

.undoButton {
  margin: 10px;
  flex: 1;
  border: none;
  font-size: 20px;
  padding: 15px;
  color: white;
  background-color: gray;
  cursor: pointer;
}

.break {
  flex-basis: 100%;
  height: 0;
  margin: 0;
}

.hireInput {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  flex: 1;
  font-size: 16px;
  margin: 10px;
  padding: 15px;
  height: 25px;
  border: 1px solid #dadce0;
}

.accountSettings {
  display: flex;
  flex: 3;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  padding: 30px;
}

.settingsTitle {
  width: 100%;
  font-family: "Futura", arial, sans-serif;
  font-size: 35px;
  letter-spacing: 5px;
  text-align: center;
}

.settingsForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.selected {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.portal {
  display: flex;
  width: 900px;
  height: 75vh;
  background-color: white;
}

.sidebar {
  padding: 30px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.user {
  font-size: 16px;
}

.user ul {
  list-style-type: none;
  margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0px;
}

.fullName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.logo {
  font-family: "Futura", arial, sans-serif;
  font-size: 25px;
}

.jobs {
  flex: 3;
  overflow-y: scroll;
}

.jobPreview {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  line-height: 20px;
}

.jobPreview ul, .jobPosting ul, .clientInfo ul{
  list-style-type: none;
  margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 15px;
}

.jobDetails {
  flex: 2
}

.jobOptions {
  flex: 3;
  text-align: right;
}

.jobOptions button {
  border: none;
  font-size: 16px;
  padding: 15px;
  color: white;
  background-color: #5ea9cf;
  cursor: pointer;
  margin-left: 15px;
}

.jobOptions button:hover {
  background-color: #558ead;
}

.jobPosting {
  flex: 3;
  padding: 20px;
}

.jobPosting li {
  line-height: 20px;
}

.jobPosting h2 {
  font-weight: normal;
  margin: 0px;
  color: black;
  line-height: 50px;
  font-size: 35px;
}

.clientInfo h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.manage {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.workflowContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  background-color: white;
}

.workflowContainer button, .selectPhotographer button {
  margin: 10px;
  flex: 1;
  border: none;
  font-size: 16px;
  padding: 15px;
  color: white;
  background-color: #5ea9cf;
  cursor: pointer;
  text-align: center;
}

.column {
  flex-direction: column;
  flex: 1;
  display: flex;
}

.status {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  flex: 3;
  font-size: 16px;
  margin: 10px;
  text-align: center;
  padding: 15px;
  border: 1px solid #dadce0;
}

.selectPhotographer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 350px;
  background-color: white;
  padding: 30px;
}

.selectPhotographer ul {
  list-style-type: none;
  margin-block-start: 0px;
	margin-block-end: 0px;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0px;
}

.confirmation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 350px;
  background-color: white;
  padding: 30px;
  text-align: center;
}
